* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: $font-family;
  text-transform: uppercase;
  line-height: 1.75em;
  letter-spacing: 0.05em;
}

.inner-container {
  width: 100%;
  max-width: $breakpoint-large;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.inner-container-thin {
  @extend .inner-container;
  max-width: $breakpoint-medium;
}

section {
  padding: 3em 0;
}

img { display: block; }