%section#intro
  .inner-container-thin
    %h1 What is this
    %p
      Patio Furniture is a project by 
      %a{:href=>"http://beauhankins.com", :target=>"_newtab"}<= "Beau Hankins"
      %span>= ". It is currently a visual art diary of miscellaneous experiments."
    %br
    %h1 Filter by Tag
    %p
      %a.select-tag.active{:href=>"#all", :data => {:tag => "all"}}= "All"
      ,
      %a.select-tag{:href=>"#experiments", :data => {:tag => "experiments"}}= "Experiments"
      ,
      %a.select-tag{:href=>"#patio-furniture", :data => {:tag => "patio-furniture"}}= "Patio Furniture"

%section#image-grid
  .inner-container
    #grid.masonry.js-masonry
      .grid-item{:class=>"tag-experiments"}
        = image_tag 'in-frequency-3.png'
      .grid-item{:class=>"tag-experiments"}
        = image_tag 'in-frequency-2.png'
      .grid-item{:class=>"tag-experiments"}
        = image_tag 'in-frequency.png'
      .grid-item{:class=>"tag-patio-furniture"}
        = image_tag 'pflogo-process.png'